.er-span-margin {
  margin-right: 0;
}
.parag{
  box-shadow: 1rem;
}

.chart {
  text-align: center;
  margin: auto;
}

.row {
  margin-bottom: 150px;
}

h1 {
  text-align: center;
  margin-bottom: 80px;
}
.text-start{
  padding-left: 0;
}
.ortalama{
  text-align: left;
  margin-left: 12rem;
  line-height: 30%;
  
}